<%= form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Order_id %><br>
    <%= f.text_field :Order_id %>
  </div>
  <div class="field">
    <%= f.label :ItemName %><br>
    <%= f.text_field :ItemName %>
  </div>
  <div class="field">
    <%= f.label :Quantity %><br>
    <%= f.number_field :Quantity %>
  </div>
  <div class="field">
    <%= f.label :Price %><br>
    <%= f.number_field :Price %>
  </div>
  <div class="field">
    <%= f.label :Amount %><br>
    <%= f.number_field :Amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
